<footer class="site-footer">
  <strong>SeenPleen Studio | Konstantinos Kostaras</strong>
  <br>

  Πλ. Γεωργίου Α' 50 | 26221 | Πάτρα
  <br>

  <a href="mailto:kfkostaras@gmail.com">
    kfkostaras@gmail.com
  </a>

  |

  <a href="tel:+306948232696">
    +30 6948 232 696
  </a>
</footer>